
tasks-backend/.env
tasks-backend/.DS_Store
tasks-backend/node_modules
tasks-backend/public/build
tasks-backend/public/hot
tasks-backend/public/storage
tasks-backend/storage/*.key
tasks-backend/vendor
tasks-backend/.env
tasks-backend/.env.backup
tasks-backend/.phpunit.result.cache
tasks-backend/Homestead.json
tasks-backend/Homestead.yaml
tasks-backend/auth.json
tasks-backend/npm-debug.log
tasks-backend/yarn-error.log
tasks-backend/.idea
tasks-backend/.vscode