<div id="board" class="d-flex flex-row" *ngIf="board$ | async as board"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  cdkDropListGroup>
  <!-- boucle flex horizontal column -->
  <div *ngFor="let column of board.columns" cdkDrag>
    <app-column
      [column]="column"
    ></app-column>
  </div>
  <!-- add column -->
  <div class="column">
    <div class="column-header">
      <div class="column-title">
        <input type="text" placeholder="Add a column" (keyup.enter)="addColumn($event)">
      </div>
    </div>
  </div>
</div>
