
<div class="container">
  <h1>
    <span>Boards</span>
  </h1>
  <button class="btn btn-primary" >New Board</button>
  <div class="boards">
    <div *ngFor="let board of boards$ | async">
      <a class="board" [routerLink]="['/boards', board.id]">
        <div class="board__title">
          <h2>{{board.name}}</h2>
        </div>
      </a>
    </div>
  </div>
  <!-- boards pagination from laravel paginate -->
  <div class="pagination">
    <ul style="display: flex; list-style: none; flex-direction: row; gap: 1vw;">
      <li *ngFor="let link of links$ |async">
        <a
          [ngStyle]="{ cursor: link.url ? 'pointer' : 'default' }"
          (click)="link.url ? loadPage(link) : ''"
          [innerHTML]="link.label"
          [class.active]="link.active"
        >
        </a>
      </li>
    </ul>
  </div>
</div>
<app-board-new></app-board-new>
