<!-- navbar that shows the user picture and email and logout button/ -->
<!--  -->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Angular 2</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about">About</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="user$ | async as user">
        <li>
          <a href="#" (click)="user">Logout</a>
        </li>
        <li>
          <a href="#">
            <img [src]="" class="profile-pic" />
          </a>
        </li>
        <li>
          <a href="#">
            <span class="email">{{user.email}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
