#column {
  width: 272px;
  .card-body{
    background-color: #ebecf0;
  }

  .card-title {
    display: flex;

    i {
      margin-left: auto;
      cursor: pointer;
      margin: 1px;
      border-radius: .25rem;
      padding: 5px 5px 0px 5px;
    }

    i:hover {
      border: .1px solid #ced4da;
      background-color: #FFFFFF;
      margin: 0;
    }

    input {
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      width: 100%;
    }

    input:focus {
      border: .1px solid #ced4da;
      border-radius: .25rem;
      padding: 0 1px;
      background-color: #FFFFFF;
      cursor:text;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
