<div class="container">
  <div *ngIf="board$ | async as board"
    class="m-3"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    cdkDropListGroup>
    <h1>{{ board.name }}</h1>
    <div class="board-container d-flex flex-row" id="board">
      <div *ngFor="let column of columns" cdkDrag>
        <app-column
          [column]="column"
        ></app-column>
      </div>
      <div>
        <div class="column">
          <div class="column-header">
            <div class="column-title">
              <input type="text" placeholder="Add a column" (keyup.enter)="addColumn($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-board-new></app-board-new>
